<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>575921570856-oqp4k71dt0k7e2dliivf5v9q44727dol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.575921570856-oqp4k71dt0k7e2dliivf5v9q44727dol</string>
	<key>API_KEY</key>
	<string>AIzaSyArYrTFpi6DY7otAT2u4A5YbgavWy9dBOM</string>
	<key>GCM_SENDER_ID</key>
	<string>575921570856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yourcompany.uGrub2</string>
	<key>PROJECT_ID</key>
	<string>ugrub-2</string>
	<key>STORAGE_BUCKET</key>
	<string>ugrub-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:575921570856:ios:6037f9db70ed3c82</string>
	<key>DATABASE_URL</key>
	<string>https://ugrub-2.firebaseio.com</string>
</dict>
</plist>